<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">




	<context:property-placeholder location="classpath:Properties/Data.properties"/>



	<bean id="MyPersonConstructor" class="Properties.Person">
		<constructor-arg name="adress" value="${AK.address}"></constructor-arg>
		<constructor-arg name="name" value="${AK.phone}"></constructor-arg>
		<constructor-arg name="phone" value="${AK.name}"></constructor-arg>
		<constructor-arg name="familyMember">
			<list >
				<value>${AK.name}</value>
				<value>${AK.name}</value>
				<value>${AK.name}</value>
				<value>${AK.name}</value>
			</list>
		</constructor-arg>
	</bean>

	



	<bean id="MyUserConstructor" class="Properties.User">
		<constructor-arg ref="MyPersonConstructor"></constructor-arg>
		<constructor-arg value="200"></constructor-arg>
	</bean>
	
	


</beans>